.ftco-section {
	background-color: #f8f9fd;
	padding: 110px 0;
	@media screen and (min-width: 768px) {
		.container {
			max-width: 720px;
			.content {
				max-width: 690px;
			}
		}
	}
	@media screen and (min-width: 992px) {
		.container {
			max-width: 960px;
			.content {
				max-width: 770px;
			}
		}
	}
	@media screen and (min-width: 1200px) {
		.container {
			max-width: 1140px !important;
			.content {
				max-width: 920px;
			}
		}
	}
	@media screen and (min-width: 576px) {
		.container {
			max-width: 540px;
		}
	}
	@media screen and (min-width: 0) and (max-width: 768px) {
		.content {
			display: block !important;
			width: min(510px, 100%) !important;
			.register-wrap {
				width: 100% !important;
				height: 465px !important;
			}
			.login-wrap {
				width: 100% !important;
				height: 465px !important;
			}
			.text-wrap {
				width: 100% !important;
				height: 200px !important;
				padding: 1.5em !important;
			}
		}
	}
	font-family: 'Lato', Arial, sans-serif;
	.container {
		width: 1140px;
		margin-left: auto;
		margin-right: auto;
		padding: 0 15px;
		.row {
			display: flex;
			// flex-direction: column;
			// align-items: center;
			justify-content: center;
			height: 80px;
			h2 {
				font-size: 28px;
				font-weight: 400;
			}
		}
		.content {
			margin: 0 auto;
			display: flex;
			flex-direction: row-reverse;
			// background-color: skyblue;

			.login-wrap {
				display: flex;
				flex-direction: column;
				padding: 3em;
				background-color: #fff;
				width: 50%;
				height: 435px;
				h3 {
					font-size: 32px;
				}
				> div {
					.d-md-flex {
						display: flex;
						justify-content: space-between;
					}
					.form-group {
						margin-bottom: 17px;
						label {
							display: block;
							font-weight: 700;
							margin-bottom: 8.5px;
						}
						input[type='text'] {
							width: 100%;
							height: 48px;
							font-size: 16px;
							outline: none;
							background-color: rgba(0, 0, 0, 0.05);
							border-radius: 50px;
							border: none;
							padding: 0 20px;
						}
						input[type='password'] {
							width: 100%;
							height: 48px;
							font-size: 16px;
							outline: none;
							background-color: rgba(0, 0, 0, 0.05);
							border-radius: 50px;
							border: none;
							padding: 0 20px;
						}
						input[type='text']::-webkit-input-placeholder {
							color: #a8a8a8;
						}
						button {
							width: 100%;
							height: 48px;
							border: none;
							cursor: pointer;
							border-radius: 50px;
							color: #fff;
							background-color: #5981f7;
							// background: linear-gradient(135deg, #a6dcd5 0%, #5981f7 100%);
						}
						button:hover {
							background-color: #698cf7;
						}
						button:active {
							background-color: #5981f7;
						}
						.login-left {
							display: flex;
							align-items: center;
							height: 29px;
						}
						.login-right {
							display: flex;
							align-items: center;
							height: 29px;
						}
					}
					.form-group:last-child {
						margin-bottom: 0;
					}
				}
			}
			.register-wrap {
				display: none;
				flex-direction: column;
				padding: 2em 3em;
				background-color: #fff;
				width: 50%;
				height: 435px;
				h3 {
					font-size: 32px;
					margin-bottom: 5px;
				}
				> div {
					margin-bottom: 15px;
					.form-group {
						margin-bottom: 15px;
						label {
							display: block;
							font-weight: 700;
							margin-bottom: 8.5px;
						}
						input[type='text'] {
							width: 100%;
							height: 48px;
							font-size: 16px;
							outline: none;
							background-color: rgba(0, 0, 0, 0.05);
							border-radius: 50px;
							border: none;
							padding: 0 20px;
						}
						input[type='password'] {
							width: 100%;
							height: 48px;
							font-size: 16px;
							outline: none;
							background-color: rgba(0, 0, 0, 0.05);
							border-radius: 50px;
							border: none;
							padding: 0 20px;
						}
						input[type='text']::-webkit-input-placeholder {
							color: #a8a8a8;
						}
						button {
							width: 100%;
							height: 48px;
							border: none;
							cursor: pointer;
							border-radius: 50px;
							color: #fff;
							background-color: #5981f7;
							// background: linear-gradient(135deg, #a6dcd5 0%, #5981f7 100%);
						}
						button:hover {
							background-color: #698cf7;
						}
						button:active {
							background-color: #5981f7;
						}
					}
					.form-group:last-child {
						margin-bottom: 0;
					}
				}
			}
			.text-wrap {
				display: flex;
				align-items: center;
				font-size: 16px;
				line-height: 1.8em;
				padding: 3em;
				width: 50%;
				height: 435px;
				background: linear-gradient(135deg, #5981f7 0%, #a6dcd5 100%);
				.text {
					height: 150px;
					width: 100%;
					text-align: center;
					color: white;
					h2 {
						font-size: 34px;
						color: white;
					}
					button {
						width: 92px;
						height: 45px;
						background-color: transparent;
						border: 1px solid #fff;
						border-radius: 50px;
						cursor: pointer;
					}
					button:hover {
						background-color: #fff;
						color: #000;
					}
				}
			}
		}
	}
}
